---
---
<section class="flex flex-col items-center justify-center px-6 py-24 md:py-0 md:min-h-screen">
    <div class="scroll-animate rounded-2xl p-8 sm:p-12 md:p-20 text-center bg-primary-color max-w-4xl w-full mx-auto">
        <h2 class="text-3xl sm:text-4xl font-serif font-semibold text-white">Bring Order to Chaos.</h2>
        <p class="mx-auto mt-4 max-w-2xl text-lg text-green-100">
            Install Agora to cultivate a space for meaningful conversation and intellectual growth in your community.
        </p>
        <div class="mt-8">
            <a href="https://discord.com/oauth2/authorize?client_id=1398980964901978123&permissions=395137346624&integration_type=0&scope=bot" target="_blank" rel="noopener noreferrer" class="transform inline-block rounded-full bg-white px-6 sm:px-8 py-3 text-base sm:text-lg font-semibold text-primary-color shadow-2xl transition-transform duration-300 ease-in-out hover:scale-105">
                Add Agora to Discord
            </a>
        </div>
    </div>
</section>
